#sticky-footer {
  position: fixed;
  height: 70px;
  bottom: 0;
  width: 100%;
}

li:hover {
  cursor: grab;
}

.list-group-item {
  border: 1px transparent;
}

ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.navbar {
  margin-bottom: 1vh;
}

.toast {
  left: 50%;
  top: 100vh;
  transform: translate(-50%, 90vh);
  z-index: 9999;
}

.container {
  display: flex;
  justify-content: center;
}

.canvas {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
}

.name {
  font-size: 110pt;
}

.loading {
  display: flex;
  justify-content: center;
}
